<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div id="tasksPanel" class="card">
            <div class="card-header">
                <h4 class="panel-tittle">My tasks with Angular and Spring Boot</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <app-tasks-add></app-tasks-add>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-tasks-list></app-tasks-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
